[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "calendar"]
	path = calendar
	url = https://github.com/deficient/calendar.git
[submodule "cyclefocus"]
	path = cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "bling"]
	path = bling
	url = https://github.com/Nooo37/bling.git
[submodule "revelation"]
	path = revelation
	url = https://github.com/guotsuan/awesome-revelation
